<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed </h1>
    <p> I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Special cloth alert.</p>
    <p><%= link_to "Sign up to write a review!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class=" col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>

  <% end %>
</div>
